/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background: #9810FA;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #00000018;
    border-radius: 10px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9810FA #00000018;
}